#bg_mpdv{
    background: url(../images/materialpdv/banner_mpdv.png) top left no-repeat;
    height:300px;
}
.mpdv_{
  background: #fff;
  -webkit-box-shadow: 0px 3px 5px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px 3px 5px 0px rgba(0,0,0,0.75);
  box-shadow: 0px 3px 5px 0px rgba(0,0,0,0.75);
  padding: 0;
}
.mpdv_tt{
  background: #81b945;
  color:#fff;
  font-size: 25px;
  font-family : 'TelefonicaRegular', sans-serif;
  padding: 15px 0;
}
.mpdv_cont{padding: 25px;}
.icn{margin: 0 auto;}
.brd{
  border-bottom: 1px solid #d5d5d5; padding-bottom: 80px;
}
.sbmat{
  padding-top: 80px;
}
.sbmat p{
  font-size: 17px;
  text-align: center;
  color:#3570a9;
  line-height: 1;
}
.fmat{
  margin-top: 50px;
}

#downl.fa{
color: #01587f;
}
.tp{margin-top: 40px;}
#prev {
    position: absolute;
    top: 45%;
    right:10%;
    color:#51b7ef;
    font-size: 40px;
}

#prev:hover{
  color:#3570a9;
}
#next:hover{
  color:#3570a9;
}
#next {
  z-index: 1550;
  position: absolute;
    top: 45%;
    left:10%;
    color:#51b7ef;
    font-size: 40px;
}
.fa-chevron-right, .fa-chevron-left{
  color:#51b7ef;
  }
.descarga{
  font-size: 30px;
    color: #01587f;
    text-shadow: none;
    padding: 0;
    cursor: pointer;
    background: 0 0;
    border: 0;
    z-index: 100;
    float: right;
    line-height: 1;
}
.descarga:hover{
  filter: alpha(opacity=50);
  opacity: .5;
}
#fg p{
  font-size: 20px;
   font-family : 'TelefonicaRegular', sans-serif;
   color: #01587f;
}

.tmat{
  color:#75c043;
  font-size: 30px;

}

.close {
    font-size: 30px;
    color: #000;
    left:0;
    margin-top: -10px;
    position: relative;
    text-shadow: none;
}
.close:hover {
    color: #ccc;
}
.vertical-align {
    display: flex;
    flex-direction: row;
}
.lienzo{

  background: #fff;
  -webkit-box-shadow: 0px 3px 5px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px 3px 5px 0px rgba(0,0,0,0.75);
  box-shadow: 0px 3px 5px 0px rgba(0,0,0,0.75);
}
.datos_mat{
  padding-top: 30px;
  font-size: 18px;
  font-family : 'TelefonicaRegular', sans-serif;
   color: #005c84;
}
.datos_mat p{
  font-size: 18px;
  font-family : 'TelefonicaRegular', sans-serif;
  color: #005c84;
  line-height: 1;
  font-weight: bold;

}
.lienzo_mat{
  min-height: 550px !important;
}
.datos_mat p span{
   font-weight: normal;
}
.datos_mat ul{
   font-size: 16px;
}
.cuadro_cacs{
  border-top: 1px solid #e7e7e7;
  margin-top: 20px;
  padding-top: 10px;
  padding-bottom: 20px;
}
#tipo_mat{
   font-size: 25px;
  font-family : 'TelefonicaRegular', sans-serif;
  color: #75c043;
  line-height: 1;
  padding-top: 30px;
  padding-bottom: 10px;
}
.nota_mat{
  font-size: 12px;
  font-family : 'TelefonicaLight', sans-serif;
  color: #005c84;
}
.rosa{
  color:#ec008b;
}


.modal-body{padding: 0;}
.modal-header {
    border: none;
    background-color: #fff;
}

.modal-content {
    background-color: #fff;
}
.modal-backdrop {
   opacity:0.8 !important;
}
.modal-dialog {}
.thumbnail {margin-bottom:6px;}

.carousel-control.left,.carousel-control.right{
  background-image:none;
  margin-top:10%;
  width:5%;
}

.modal-content {
/*background:#18363f;*/
}
.modal-title{
  color:#81b945;
  font-family : 'TelefonicaRegular', sans-serif;
  font-size: 23px;
}
.carousel-control {
  color: #00cbfe;
  }
.carousel-control:focus, .carousel-control:hover {
    color: #00cbfe;
}


.modal.modal-wide .modal-dialog {
  width: 60%;
}
.modal-wide .modal-body {
  overflow-y: auto;
}

#tallModal .modal-body p { margin-bottom: 900px }

.bg_retirar{
  position: absolute;
z-index: 2000;
  width: 100%;
  height: 100%;
  background-color: #74c043;
  opacity:0.6;
 filter:alpha(opacity=60);
}
.txt_retirar{
   position: absolute;
   top:40%;
   left: 20%;
  z-index: 2100;
  font-size: 60px;
  color: #fff;
  font-family : 'TelefonicaRegular', sans-serif;
  font-weight: bold;
}


